/* a) Reset and normalize */

button,iframe,img{border:0}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-tap-highlight-color:transparent}body{margin:0;font:16px/1 sans-serif}blockquote,button,figure,h1,h2,h3,h4,h5,ol,p,ul{margin:0;padding:0}li,main{display:block}h1,h2,h3,h4,h5,p{font-size:inherit}strong{font-weight:700}sup{position:relative;top:-.5em;font-size:65%;line-height:0;vertical-align:baseline}a,button{color:inherit;transition:all .25s ease-in-out}a{text-decoration:none}button{overflow:visible;font:inherit;letter-spacing:inherit;background:0 0;cursor:pointer;-webkit-font-smoothing:inherit}::-moz-focus-inner{padding:0;border:0}img{max-width:100%;height:auto}

/* b) Mixins */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  margin: 0;
  background-color: #EDF9FF;
  padding: 0;
  font-family: 'Karla', sans-serif;
  color: #0E9AA7;
}



// The Letters

.theLetters {
  border-radius: 4px;
  text-align: center;
  height: 300px;
  max-width: 300px;
  margin: 0 auto;
}

.theLetters img {
  border-radius: 10px;
  border: 2px solid #333333;
  height: 100px;
  margin: 6px;
  width: 100px;
}

.search {

  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}



// Colors
.grey {
  background-color: #4A4E4D;
}

.teal {
  background-color: #0E9AA7;
}

.pale_yellow {
  background-color: #F6CD61;
}

.pale_rose {
  background-color: #FE8A71;
}

// Tic Tac Toe

div[data-cell] {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  float: left;
  border: 1px solid #808080;
  font-size: 100px;
  text-align: center;
}

.row {
  text-align: center;
  margin: 0 auto;
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 50px;
}
